<h1>Welcome to Love Movies!</h1>
<h3>
  Here, you can:
</h3>
<body>

  <p>search for movies.</p>
  <p>
    see data related to a movie, including:
    Rating (incl. amount of votes),
    Stars,
    Director
  </p>
  <p>
    create toplists of their favorite movies.
  </p>
  <p>
    Create a toplist of favourite directors.
  </p>
  <p>
    See the ratings of the movies from different time periods.
  </p>
  <p>
    See the stars of the movies from different time periods.
  </p>
  <p>
    See the votes of the movies from different time periods.
  </p>
  <p>
    See the amount of movies a director made.
  </p>

</body>
