<h1>Welcome to Love Movies!</h1>
<h3>
  Here, you can:
</h3>
<body>

  <p>search for movies.</p>
  <p>
    see data related to a movie, including:
    Rating (incl. amount of votes)
    Stars
    Director
    Actors
    Released
    Runtime
    Plot
    Language
    Awards
    Country
    BoxOffice
    Year
    Title

  </p>
  <p>
    create toplists of their favorite movies.
  </p>
  <p>
    See a top10 list of movie names by their ratings
  </p>
  <p>
    See a top10 list of movie names by their votes
  </p>
  <p>
    See a top10 list of movie names by their stars
  </p>
  <p>
    See a mean of ratings of all movies
  </p>
  <p>
    See a mean of votes of all movies
  </p>
  <p>
    See a mean of stars of all movies
  </p>
  <p>
    See a chart of ratings of all movies
  </p>
  <p>
    See a chart of votes of all movies
  </p>
  <p>
    See a chart of stars of all movies
  </p>

</body>
