<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <a class='navbar-brand' [routerLink]='["/"]'>Love Movies</a>
    </div>


    <div class='clearfix'></div>

    <div class='navbar-collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/movie"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-send'></span> Movies
          </a>
        </li>
      </ul>
      <!--<ul>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/mTopList"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-certificate'></span> Movies
          </a>
        </li>

      </ul>-->
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/dTopList"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-send'></span> Directors
          </a>
        </li>
      </ul>
      <!--   <ul>
           <li [routerLinkActive]='["link-active"]'>
             <a [routerLink]='["/dTopList"]' (click)='collapse()'>
               <span class='glyphicon glyphicon-plane'></span> Top list
             </a>
           </li>
         </ul>-->
    </div>

  </div>
</div>
