<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <a class='navbar-brand' [routerLink]='["/"]'>The Movies Lovers</a>
    </div>


    <div class='clearfix'></div>

    <div class='navbar-collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/movie"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-send'></span> Movies
          </a>
        </li>
      </ul>
      
    </div>

  </div>
</div>
