li .glyphicon {
  margin-right: 10px;
}

/*Highlighting rules for nav menu items*/
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
}

/*Keep the nav menu independent of scrolling and on top of other items
*/
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media (min-width: 500px) {
  /*On small screens, convert the nav menu to a vertical sidebar*/
  .main-nav {
    height: 100%;
    width: calc(25% - 20px);
    background-color: lightsteelblue;
  }

  .navbar {
    border-radius: 5px;
    border-width: 2px;
  }

  .navbar-header {
    float: none;
  }

  .navbar-collapse {
    border-top: 2px solid #444;
    padding: 2px;
  }

  .navbar ul {
    float: none;
  }

  .navbar li {
    float: none;
    font-size: 18px;
    margin: 6px;
  }

    .navbar li a {
      padding: 12px 10px;
      border-radius: 4px;
    }

  .navbar a { /*in case a menu is too lomg */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
}
