<body>
  <form enctype="multipart/form-data">
    <div>

      <span>Search for a movie here: </span><input class="" type="text" [(ngModel)]="movieName" [ngModelOptions]="{standalone: true}">
      <button class="searchBtn" type="button" (click)="searchMovie(movieName)">Search</button>
      <!--<p [(ngModel)]="test" ></p>-->
    </div>

    <!--Feature 3 - Top 10 destinations-->
    <!--<p *ngIf="!GetObjFromApi"><em>Loading...</em></p>-->


    <table class='table'>
      <caption>END</caption>
      <thead>
        <tr>
          <th>Search Result:</th>
          <!--<th>Number of flights</th>-->
        </tr>
      </thead>
      <tbody *ngFor="let searchedMovie of GetObjFromApi ">
        <tr class="tbl_titleNames">
          <!--<td> item.key }}</td>-->
          <td>Title:</td>
          <td>Year:</td>
          <td>Director:</td>
          <td>Rating: </td>
          <td>Votes:</td>
          <td>Released:</td>
          <td>Runtime:</td>
          <td>Genre:</td>
          <td>Writer:</td>
          <td>Actors:</td>
          <td>Plot:</td>
          <td>Language:</td>
          <td>Country:</td>
          <td>Awards:</td>
          <!--<td>Poster:</td>-->
          <td>BoxOffice:</td>
          <td>Response:</td>
        </tr>
        <tr>
          <td>{{ searchedMovie.Title }}</td>
          <td>{{ searchedMovie.Year }}</td>
          <td>{{ searchedMovie.Director }}</td>
          <td>{{ searchedMovie.imdbRating}}</td>
          <td>{{ searchedMovie.imdbVotes}}</td>
          <td>{{ searchedMovie.Released}}</td>
          <td>{{ searchedMovie.Runtime }}</td>
          <td>{{ searchedMovie.Genre }}</td>
          <td>{{ searchedMovie.Writer }}</td>
          <td>{{ searchedMovie.Actors }}</td>
          <td>{{ searchedMovie.Plot }}</td>
          <td>{{ searchedMovie.Language }}</td>
          <td>{{ searchedMovie.Country }}</td>
          <td>{{ searchedMovie.Awards }}</td>
          <!--<td><img class="img-getposter" [src]="imgsrc" /> </td>-->
          <td>{{ searchedMovie.BoxOffice }}</td>
          <td>{{ searchedMovie.Response }}</td>
        </tr>
      </tbody>
    </table>
  </form>

  <button class="addBtn" type="button" (click)="add()">Add to my top list</button>

  <!--1. my top 10 list-->
  <div>
    <h2>My TOP 10 Movie List</h2>
    <div class="No.x">
      <div>
        <ul>
          <li *ngFor='let item of list ; let i = index;'>
            {{item.Title}}
            <button class="removeBtn" type="button" (click)="remove(i)">Remove</button>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <!--toplist from a selected time period-->
  <div>
    <h2>From time period</h2>

    <div>
      <span>From: </span><input class="" type="number" [(ngModel)]="yearOne">
      <span>To: </span><input class="" type="number" [(ngModel)]="yearTwo">
      <button class="searchBtn" type="button" (click)="searchByTime()">Search</button>
    </div>
    <div class=" timeperiod_rating">
      <!--TODO: list for rating-->
      <h3>Based on ratings</h3>
      <ul class="topByRatings">
        <li *ngFor="let rating of ratings">
          {{rating}}
        </li>
      </ul>
    </div>


    <div class="timeperiod_stars">
      <h3>Based on stars</h3>
    </div>


    <div class="timeperiod_vote">
      <h3>Based on votes</h3>
      <ul class="topByVotes">
        <li *ngFor="let vote of votes">
          {{vote}}
        </li>
      </ul>
    </div>
  </div>


</body>
